.signup-wrapper {
    width: 70%;
    max-width: 600px;
    box-shadow: var(--shadow);
    padding: 1rem;
    height: auto;
    border-radius: 1rem;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.title span {
    color: var(--theme);
}