.navbar {
    position: sticky;
    width: 97.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: var(--theme);
}

.logo {
    color: #fff;
    font-weight: 500;
    margin: 0px;
    font-size: 1.2rem;
}

.link {
    color: #e3e3e3;
    font-weight: 500;
    margin: 0px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .link:hover {
    color: #fff;
    transition: all 0.3s;
  }